#DJANGO Conf. segment
DJANGO_SECRET_KEY='<change-me>'
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,<web-portal-domain_name>,<web-portal-application-server-IP>
DJANGO_CSRF_TRUSTED_ORIGINS=https://localhost,https://<web-portal-domain_name>,https://<web-portal-application-server-IP>
DJANGO_SUPERUSER_EMAIL=<change-me>
DJANGO_SUPERUSER_FULL_NAME=<change-me>
DJANGO_SUPERUSER_PASSWORD='<change-me>'

#DATABASE Conf. segment
DATABASE_NAME=<change-me>
DATABASE_USER=<change-me>
DATABASE_PASSWORD='<change-me>'
DATABASE_HOST=db
DATABASE_PORT=5432

# REDIS Conf. segment
REDIS_URL=redis://redis:6379/0

#CELERY Conf. segment
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

## EMAIL Conf. segment
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=<change-me>
EMAIL_HOST_PASSWORD='<change-me>'
DEFAULT_FROM_EMAIL=<change-me>

# EMAIL Conf. segment [If you don't wanted to use email_pass or email_app-pass]
EMAIL_HOST=<change-me>.mail.protection.outlook.com
EMAIL_PORT=22
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=<change-me>

# Default Conf. segment
FILEPORTAL_SESSION_TIMEOUT_MINUTES=5
FILEPORTAL_OTP_EXPIRY_SECONDS=120
FILEPORTAL_OTP_MAX_ATTEMPTS=3
FILEPORTAL_UPLOAD_MAX_BYTES=10737418240
LOCAL_STORAGE_ROOT=/path/local
NAS_STORAGE_ROOT=/path/nas
PROTECTED_NGINX_PREFIX=/protected-download